Please confirm your toppings choices<br><br><br>

 <form method="post" action="confirm">
 <%if meats == nil%>

<%else%>
	<%n = 0%>
	<%meats.each do |b|%>
		
        <input type = "radio" name = "meats[<%=n%>]" value = "<%=b%>">yes
        <input type = "radio" name = "meats[<%=n%>]"]>no  ----<%=b%>
        <%n += 1%>
        <br>
	<%end%>
<%end%>
<br> 
<%if veggies == nil%>

<%else%>
	<%veggies.each do |c|%>
	
       	<input type = "radio" name = "veggies[<%=n%>]" value = "<%=c%>">yes
        <input type = "radio" name = "veggies[<%=n%>]">no  ----<%=c%>
        <%n += 1%>
        <br>
	<%end%>
<%end%>
 	
<input type= "submit" value="confirm">
</form>      

